WWCP_DatexII_Tests/Documentation/Status/DATEXII_3_Facilities.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:fac="http://datex2.eu/schema/3/facilities" version="3.5" targetNamespace="http://datex2.eu/schema/3/facilities" xmlns:com="http://datex2.eu/schema/3/common" xmlns:egi="http://datex2.eu/schema/3/energyInfrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/energyInfrastructure" schemaLocation="DATEXII_3_EnergyInfrastructure.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_FacilityObjectVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:FacilityObject" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeansOfPaymentEnum">
    <xs:simpleContent>
      <xs:extension base="fac:MeansOfPaymentEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OpeningStatusEnum">
    <xs:simpleContent>
      <xs:extension base="fac:OpeningStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursSpecificationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:OperatingHoursSpecification" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:OperatingHoursTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OperationStatusEnum">
    <xs:simpleContent>
      <xs:extension base="fac:OperationStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PaymentBrandsEnum">
    <xs:simpleContent>
      <xs:extension base="fac:PaymentBrandsEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PaymentTimingEnum">
    <xs:simpleContent>
      <xs:extension base="fac:PaymentTimingEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AmountOfMoney">
    <xs:annotation>
      <xs:documentation>A monetary value expressed to two decimal places.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BrandsAcceptedCodeList">
    <xs:annotation>
      <xs:documentation>Use this class to describe details of the brands that are accepted.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="brandsAcceptedList" type="fac:_PaymentBrandsEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>List of accepted brands for payment cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_brandsAcceptedCodeListExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BrandsAcceptedText">
    <xs:annotation>
      <xs:documentation>Use this class to describe details of the brands that are accepted.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="brandsAccepted" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>List of accepted brands for payment cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_brandsAcceptedTextExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClosureInformation">
    <xs:annotation>
      <xs:documentation>Information about temporary or permanent closure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="permananentlyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Permanently closed, i.e. it is not intended to open again.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporarilyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Temporarily closed for an unspecified period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="closedFrom" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Permanently or temporarily closed from the given date on. May lie in the future - in this case the scene is not closed now.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporarilyClosedUntil" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Temporarily closed until the given date (i.e. closure still includes this date).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_closureInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CurrencyCode">
    <xs:annotation>
      <xs:documentation>Three letter code defining the currency according to ISO 4217:2015 (e.g. EUR for Euro).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String">
      <xs:pattern value="[A-Z][A-Z][A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DurationValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of a period of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="com:Seconds" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A period of time expressed in seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_durationValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FacilityObjectStatus">
    <xs:annotation>
      <xs:documentation>Dynamic status information for a facility object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="fac:_FacilityObjectVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to the corresponding static facility object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information on the time when the information has been updated the last time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="openingStatus" type="fac:_OpeningStatusEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The opening status of this facility (open or not).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationStatus" type="fac:_OperationStatusEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The operation status of this facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regularOperatingHoursInForce" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If true, regular operating hours are in force (can be open or closed).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A description for the status of this facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="newOperatingHours" type="fac:OperatingHours" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Overrides the operating hours information specified in the static part either with a new reference or with a new defined version. An existing version should not be changed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fault" type="com:Fault" minOccurs="0" />
      <xs:element name="_facilityObjectStatusExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityStatus">
    <xs:annotation>
      <xs:documentation>Dynamic status information for a facility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:FacilityObjectStatus">
        <xs:sequence>
          <xs:element name="supplementalFacilityStatus" type="fac:SupplementalFacilityStatus" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_facilityStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeansOfPaymentEnum">
    <xs:annotation>
      <xs:documentation>Means of payment</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="paymentCreditCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment credit card which is a small plastic card issued by a bank, building society, or other financial institution (ISO/IEC 7813 and other related standards), allowing the holder to purchase goods or services on credit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashBillsOnly">
        <xs:annotation>
          <xs:documentation>Cash payment using bills only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashCoinsOnly">
        <xs:annotation>
          <xs:documentation>Cash payment with coins only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tollTag">
        <xs:annotation>
          <xs:documentation>Toll tag (RFID) or similar, with associated account.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mobileAccount">
        <xs:annotation>
          <xs:documentation>Payment method using an app or other functions typically via a smartphone to a linked bank or card account.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashCoinsAndBills">
        <xs:annotation>
          <xs:documentation>Cash payment using bills and/or coins only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prepay">
        <xs:annotation>
          <xs:documentation>Advanced payment for parking right.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="paymentDebitCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment debit card which is a small plastic card (ISO/IEC 7813 and other related standards), allowing the holder to transfer money electronically from their bank account when making a purchase.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="paymentValueCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment debit card which is a small plastic card (ISO/IEC 7813 and other related standards) with a monetary value stored on the card itself, that may not be linked to an external account maintained by a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nfc">
        <xs:annotation>
          <xs:documentation>Near field communication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="emv">
        <xs:annotation>
          <xs:documentation>Payment by cards with EMC chip</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qrCode">
        <xs:annotation>
          <xs:documentation>Paymet with a given QR-code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="website">
        <xs:annotation>
          <xs:documentation>Payment by website</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OpenAllHours">
    <xs:annotation>
      <xs:documentation>Open or available all the time (24/7)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_openAllHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OpeningStatusEnum">
    <xs:annotation>
      <xs:documentation>The opening status of some entity (e.g. parking site, service facility, access,...)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="open">
        <xs:annotation>
          <xs:documentation>Open resp. available.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openWithServiceLimitation">
        <xs:annotation>
          <xs:documentation>Open, but with limited services.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="closed">
        <xs:annotation>
          <xs:documentation>Closed, usually because of the regular opening times.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="closedOnHoliday">
        <xs:annotation>
          <xs:documentation>Closed because of a holiday or holidays.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="closedOnMaintenance">
        <xs:annotation>
          <xs:documentation>Closed because of maintenance activities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temporarilyClosed">
        <xs:annotation>
          <xs:documentation>Temporarily closed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="statusUnknown">
        <xs:annotation>
          <xs:documentation>The opening status is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OperatingHours" abstract="true">
    <xs:annotation>
      <xs:documentation>Operating hours, either by reference or by specification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="closureInformation" type="fac:ClosureInformation" minOccurs="0" />
      <xs:element name="_operatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatingHoursByReference">
    <xs:annotation>
      <xs:documentation>Operating hours information that is addressed via a reference.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="operatingHoursReference" type="fac:_OperatingHoursSpecificationVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The reference to an operating hours specification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="operatingHoursTableReference" type="fac:_OperatingHoursTableVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Operation hours table in question defined by a reference.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_operatingHoursByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHoursSpecification">
    <xs:annotation>
      <xs:documentation>A specification of operating hours (e.g. for a parking site, a service facility, an access or the availability for equipment).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The date/time at which this information was last updated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="label" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A label, name or identifier for this operating hours specification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="operatingAllYear" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The facility or organisation is not closed on a seasonal base.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="urlLinkAddress" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A Uniform Resource Locator (URL) address pointing to a resource available on the Internet from where further relevant information may be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="overallPeriod" type="com:OverallPeriod">
            <xs:annotation>
              <xs:documentation>The specification of operating hours by an overall period combined with valid or exceptional periods.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_operatingHoursSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OperationStatusEnum">
    <xs:annotation>
      <xs:documentation>Specifies whether some facility, scenario or equipment is in operation or not.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="inOperation">
        <xs:annotation>
          <xs:documentation>The specified element is in operation right now.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="limitedOperation">
        <xs:annotation>
          <xs:documentation>The specified element is in operation on a limited basis.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notInOperation">
        <xs:annotation>
          <xs:documentation>The specified element is not operating right now.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notInOperationAbnormal">
        <xs:annotation>
          <xs:documentation>The specified element is not operating due to abnormal conditions (holidays, restoration-works, long-term closure, ....).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="technicalDefect">
        <xs:annotation>
          <xs:documentation>The specified element is not in operation due to a technical defect.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>There is no information about the operation status.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentBrandsEnum">
    <xs:annotation>
      <xs:documentation>Brands for payment cards</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="americanExpress">
        <xs:annotation>
          <xs:documentation>American Express</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="applePay">
        <xs:annotation>
          <xs:documentation>Apple pay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cirrus">
        <xs:annotation>
          <xs:documentation>Cirrus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dinersClub">
        <xs:annotation>
          <xs:documentation>Diners Club</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="discoverCard">
        <xs:annotation>
          <xs:documentation>Discover Card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="giroCard">
        <xs:annotation>
          <xs:documentation>Giro card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maestro">
        <xs:annotation>
          <xs:documentation>Maestro</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="masterCard">
        <xs:annotation>
          <xs:documentation>Master Card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visa">
        <xs:annotation>
          <xs:documentation>Visa</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vpay">
        <xs:annotation>
          <xs:documentation>VPay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Another brand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentMethod">
    <xs:annotation>
      <xs:documentation>Provides information on the means of payment available</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paymentMeans" type="fac:_MeansOfPaymentEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The means of payment available</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentMode" type="fac:_PaymentTimingEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defines the timing of the parking or other mobility related payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaymentMeans" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Other menas of payment that are available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="brandsAcceptedText" type="fac:BrandsAcceptedText" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="brandsAcceptedCodeList" type="fac:BrandsAcceptedCodeList" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_paymentMethodExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentTimingEnum">
    <xs:annotation>
      <xs:documentation>Details of when payment is required.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="prepay">
        <xs:annotation>
          <xs:documentation>Pay before entry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payOnEntry">
        <xs:annotation>
          <xs:documentation>Pay at start of the parking session (e.g. for pay and display) </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payPriorToExit">
        <xs:annotation>
          <xs:documentation>Pay at machine on foot prior to returning to vehicle and use payment ticket to exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payAfterExit">
        <xs:annotation>
          <xs:documentation>Payment on account</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payAndExit">
        <xs:annotation>
          <xs:documentation>Pay directly at the exit with a payment card or other means of payment (usually, this payment card must have been used when entering as well). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementalFacilityStatus">
    <xs:annotation>
      <xs:documentation>Information on current status and availability of supplemental facilities (for example number of free electric charging stations).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:FacilityObjectStatus">
        <xs:sequence>
          <xs:element name="quantityOverride" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Overrides the static quantity information (for example because of long- or midterm closures, such as renovation).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="numberOfSubitemsOverride" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Overrides the static value 'numberOfSubitems' (for example because of long- or midterm closures, such as renovation).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="vacantSubitems" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Sets the number of currently vacant elements of either equipment (e.g. free toilets) or service facility subitems (e.g. free restaurant places).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="equipmentOperationStatus" type="fac:_OperationStatusEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies whether this supplemental equipment is available / is in operation or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_supplementalFacilityStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UndefinedOperatingHours">
    <xs:annotation>
      <xs:documentation>There are no operating hours specified.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_undefinedOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnknownOperatingHours">
    <xs:annotation>
      <xs:documentation>The operating hours are not known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_unknownOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>