WWCP_DatexII/DataStructures/Status/Documentation/DATEXII_3_Common.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:com="http://datex2.eu/schema/3/common" version="3.5" targetNamespace="http://datex2.eu/schema/3/common" xmlns:egi="http://datex2.eu/schema/3/energyInfrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/energyInfrastructure" schemaLocation="DATEXII_3_EnergyInfrastructure.xsd" />
  <xs:complexType name="_CalendarWeekWithinMonthEnum">
    <xs:simpleContent>
      <xs:extension base="com:CalendarWeekWithinMonthEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConfidentialityValueEnum">
    <xs:simpleContent>
      <xs:extension base="com:ConfidentialityValueEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DayEnum">
    <xs:simpleContent>
      <xs:extension base="com:DayEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ExtensionType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_FaultSeverityEnum">
    <xs:simpleContent>
      <xs:extension base="com:FaultSeverityEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_FaultUrgencyEnum">
    <xs:simpleContent>
      <xs:extension base="com:FaultUrgencyEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InformationDeliveryServicesEnum">
    <xs:simpleContent>
      <xs:extension base="com:InformationDeliveryServicesEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InformationStatusEnum">
    <xs:simpleContent>
      <xs:extension base="com:InformationStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InstanceOfDayEnum">
    <xs:simpleContent>
      <xs:extension base="com:InstanceOfDayEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MonthOfYearEnum">
    <xs:simpleContent>
      <xs:extension base="com:MonthOfYearEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PublicEventTypeEnum">
    <xs:simpleContent>
      <xs:extension base="com:PublicEventTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SpecialDayTypeEnum">
    <xs:simpleContent>
      <xs:extension base="com:SpecialDayTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Boolean">
    <xs:annotation>
      <xs:documentation>Boolean has the value space required to support the mathematical concept of binary-valued logic: {true, false}. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:complexType name="CalendarWeekWithinMonth">
    <xs:annotation>
      <xs:documentation>Specification of periods defined by relevant calendar weeks in a month, see ISO8601. Note: Calendar weeks start with Monday. First week is the week containing the first of the month.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DayWeekMonth">
        <xs:sequence>
          <xs:element name="applicableCalenderWeekWithinMonth" type="com:_CalendarWeekWithinMonthEnum" minOccurs="1" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Calender week in month. See ISO8601.  "All weeks of the month" is expressed by not using the CalendarWeekOfMonth class. Note: Calendar weeks start with Monday. First week is the week containing the first of the month.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_calendarWeekWithinMonthExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CalendarWeekWithinMonthEnum">
    <xs:annotation>
      <xs:documentation>Calendar week within month (see ISO8601).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstWeek">
        <xs:annotation>
          <xs:documentation>Calendar week containing the first of the month. Several days of the first week of the month may occur in the previous calendar month. By construction, the last week of a preceding month can also be the first week of a subsequent month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondWeek">
        <xs:annotation>
          <xs:documentation>Second week of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdWeek">
        <xs:annotation>
          <xs:documentation>Third week of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fourthWeek">
        <xs:annotation>
          <xs:documentation>Fourth week of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fifthWeek">
        <xs:annotation>
          <xs:documentation>Fifth week of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sixthWeek">
        <xs:annotation>
          <xs:documentation>Sixth week of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastWeek">
        <xs:annotation>
          <xs:documentation>Last calendar week within month, regardless of its actual number. The last calendar week is the week beginning with Monday and containing the last of the month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConfidentialityValueEnum">
    <xs:annotation>
      <xs:documentation>Values of confidentiality.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="internalUse">
        <xs:annotation>
          <xs:documentation>For internal use only of the recipient organisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="noRestriction">
        <xs:annotation>
          <xs:documentation>No restriction on usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToAuthorities">
        <xs:annotation>
          <xs:documentation>Restricted for use only by authorities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToAuthoritiesAndTrafficOperators">
        <xs:annotation>
          <xs:documentation>Restricted for use only by authorities and traffic operators.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCode">
    <xs:annotation>
      <xs:documentation>EN ISO 3166-1 alpha-2 two-letter country code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DataValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data value of something that can be measured or calculated. Any provided meta-data values specified in the attributes override any specified generic characteristics such as defined for a specific measurement in the MeasurementSiteTable. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_dataValueExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DateTime">
    <xs:annotation>
      <xs:documentation>A combination of integer-valued year, month, day, hour, minute properties, a decimal-valued second property and a time zone property from which it is possible to determine the local time, the equivalent UTC time and the time zone offset from UTC.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="DayEnum">
    <xs:annotation>
      <xs:documentation>Days of the week.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="monday">
        <xs:annotation>
          <xs:documentation>Monday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tuesday">
        <xs:annotation>
          <xs:documentation>Tuesday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wednesday">
        <xs:annotation>
          <xs:documentation>Wednesday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thursday">
        <xs:annotation>
          <xs:documentation>Thursday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="friday">
        <xs:annotation>
          <xs:documentation>Friday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="saturday">
        <xs:annotation>
          <xs:documentation>Saturday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sunday">
        <xs:annotation>
          <xs:documentation>Sunday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DayWeekMonth">
    <xs:annotation>
      <xs:documentation>Specification of periods defined by the intersection of days or instances of them, calendar weeks and months.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicableDay" type="com:_DayEnum" minOccurs="0" maxOccurs="7">
        <xs:annotation>
          <xs:documentation>Applicable day of the week. "All days of the week" is expressed by non-inclusion of this attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicableMonth" type="com:_MonthOfYearEnum" minOccurs="0" maxOccurs="12">
        <xs:annotation>
          <xs:documentation>Applicable month of the year.  "All months of the year" is expressed by non-inclusion of this attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_dayWeekMonthExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Decimal">
    <xs:annotation>
      <xs:documentation>A decimal number whose value space is the set of numbers that can be obtained by multiplying an integer by a non-positive power of ten, i.e., expressible as i × 10^-n where i and n are integers and n &gt;= 0.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:complexType name="Fault">
    <xs:annotation>
      <xs:documentation>Information about a fault relating to a specific piece of equipment or process.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="faultIdentifier" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Unique identifier of the fault.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faultDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Textual description of the fault.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faultCreationTime" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date and time at which the fault was originally recorded/reported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faultLastUpdateTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date and time at which the fault information as specified in this instance was last updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faultImpactSeverity" type="com:_FaultSeverityEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The severity of the fault in terms of how it affects the usability of the equipment or the reliability of the data generated by the equipment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faultUrgencyToRectify" type="com:_FaultUrgencyEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The urgency to rectify the fault.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="manufacturerFaultCode" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A manufacturer specific code for the fault.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_faultExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FaultSeverityEnum">
    <xs:annotation>
      <xs:documentation>Classification of the severity of faults.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="low">
        <xs:annotation>
          <xs:documentation>The fault is of low severity and has only limited impact on the usability of the equipment or the value of the data generated by the equipment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="medium">
        <xs:annotation>
          <xs:documentation>The fault is of medium severity which will significantly limit the usability of the equipment or devalue the usefulness of the data generated by the equipment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="high">
        <xs:annotation>
          <xs:documentation>The fault is of high severity which will render the equipment unusable or any data generated by the equipment to be of no value.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The fault is of unknown severity and hence its effect on the usability of the equipment or the usefulness of the data generated by the equipment can not be assessed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FaultUrgencyEnum">
    <xs:annotation>
      <xs:documentation>Classification of the urgency to rectify a fault.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal">
        <xs:annotation>
          <xs:documentation>The urgency to rectify this fault is normal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="urgent">
        <xs:annotation>
          <xs:documentation>It is urgent to rectify this fault.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="extremelyUrgent">
        <xs:annotation>
          <xs:documentation>It is extremely urgent to rectify this fault.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The urgency to rectify this fault is not known.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Float">
    <xs:annotation>
      <xs:documentation>A floating point number whose value space consists of the values m × 2^e, where m is an integer whose absolute value is less than 2^24, and e is an integer between -149 and 104, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float" />
  </xs:simpleType>
  <xs:complexType name="HeaderInformation">
    <xs:annotation>
      <xs:documentation>Management information relating to the data contained within a publication.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="confidentiality" type="com:_ConfidentialityValueEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The extent to which the related information may be circulated, according to the recipient type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowedDeliveryChannel" type="com:_InformationDeliveryServicesEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The allowed delivery channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationStatus" type="com:_InformationStatusEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The status of the related information (real, test, exercise ....).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_headerInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InformationDeliveryServicesEnum">
    <xs:annotation>
      <xs:documentation>List of service channels or devices on which information or data exchanged can be delivered.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="anyGeneralDeliveryService">
        <xs:annotation>
          <xs:documentation>Includes any general delivery channel such as broadcast channels (e.g. radio, tv, RDS-TMC, TPEG services, etc.) or web publishing available to public or to specific users, depending on Service Provider policies.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="safetyServices">
        <xs:annotation>
          <xs:documentation>Specific services which deliver warning alerts to end users to enhance safety via any specific application available to drivers, including C-ITS services.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vms">
        <xs:annotation>
          <xs:documentation>Variable Message Signs or any other visual roadside devices which information are accessible to drivers which aim to affect driving style improving safety and road network LoS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InformationStatusEnum">
    <xs:annotation>
      <xs:documentation>Status of the related information (i.e. real, test or exercise).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="real">
        <xs:annotation>
          <xs:documentation>The information is real. It is not a test or exercise.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="securityExercise">
        <xs:annotation>
          <xs:documentation>The information is part of an exercise which is for testing security.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="technicalExercise">
        <xs:annotation>
          <xs:documentation>The information is part of an exercise which includes tests of associated technical subsystems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="test">
        <xs:annotation>
          <xs:documentation>The information is part of a test for checking the exchange of this type of information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstanceOfDayEnum">
    <xs:annotation>
      <xs:documentation>Instances of a day of the week in a month</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstInstance">
        <xs:annotation>
          <xs:documentation>First instance of specified day of week in month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondInstance">
        <xs:annotation>
          <xs:documentation>Second instance of specified day of week in month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdInstance">
        <xs:annotation>
          <xs:documentation>Third instance of specified day of week in month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fourthInstance">
        <xs:annotation>
          <xs:documentation>Fourth instance of specified day of week in month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fifthInstance">
        <xs:annotation>
          <xs:documentation>Fifth instance of specified day of week in month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastInstance">
        <xs:annotation>
          <xs:documentation>Last instance of specified day of week in month (regardless its actual instance number).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstanceOfDayWithinMonth">
    <xs:annotation>
      <xs:documentation>Specification of periods defined by the instance of a specific weekday within a month (e.g. 3rd Tuesday in May)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DayWeekMonth">
        <xs:sequence>
          <xs:element name="applicableInstanceOfDayWithinMonth" type="com:_InstanceOfDayEnum" minOccurs="1" maxOccurs="5">
            <xs:annotation>
              <xs:documentation>The specified integer instance of the specified applicable day within a month.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_instanceOfDayWithinMonthExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InternationalIdentifier">
    <xs:annotation>
      <xs:documentation>An identifier/name whose range is specific to the particular country.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country" type="com:CountryCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>EN ISO 3166-1 two-character country code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalIdentifier" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifier or name unique within the specified country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_internationalIdentifierExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Language">
    <xs:annotation>
      <xs:documentation>A language datatype, identifies a specified language by an ISO 639-1 2-alpha code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:language" />
  </xs:simpleType>
  <xs:simpleType name="MonthOfYearEnum">
    <xs:annotation>
      <xs:documentation>A list of the months of the year.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="january">
        <xs:annotation>
          <xs:documentation>The month of January.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="february">
        <xs:annotation>
          <xs:documentation>The month of February.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="march">
        <xs:annotation>
          <xs:documentation>The month of March.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="april">
        <xs:annotation>
          <xs:documentation>The month of April.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="may">
        <xs:annotation>
          <xs:documentation>The month of May.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="june">
        <xs:annotation>
          <xs:documentation>The month of June.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="july">
        <xs:annotation>
          <xs:documentation>The month of July.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="august">
        <xs:annotation>
          <xs:documentation>The month of August.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="september">
        <xs:annotation>
          <xs:documentation>The month of September.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="october">
        <xs:annotation>
          <xs:documentation>The month of October.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="november">
        <xs:annotation>
          <xs:documentation>The month of November.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="december">
        <xs:annotation>
          <xs:documentation>The month of December.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MultilingualString">
    <xs:sequence>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="com:MultilingualStringValue" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultilingualStringValue">
    <xs:simpleContent>
      <xs:extension base="com:MultilingualStringValueType">
        <xs:attribute name="lang" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MultilingualStringValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NamedArea" abstract="true">
    <xs:annotation>
      <xs:documentation>An abstract hook class to hook in a model for a named area.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_namedAreaExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NonNegativeInteger">
    <xs:annotation>
      <xs:documentation>An integer number whose value space is the set {0, 1, 2, ..., 2147483645, 2147483646, 2147483647}.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="OverallPeriod">
    <xs:annotation>
      <xs:documentation>A continuous or discontinuous period of validity defined by overall bounding start and end times and the possible intersection of valid periods (potentially recurring) with the complement of exception periods (also potentially recurring).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="overallStartTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Start of bounding period of validity defined by date and time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="overallEndTime" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>End of bounding period of validity defined by date and time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validPeriod" type="com:Period" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A single time period, a recurring time period or a set of different recurring time periods during which validity is true.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exceptionPeriod" type="com:Period" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A single time period, a recurring time period or a set of different recurring time periods during which validity is false.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_overallPeriodExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadPublication" abstract="true">
    <xs:annotation>
      <xs:documentation>A payload publication of traffic related information or associated management information created at a specific point in time that can be exchanged via a DATEX II interface.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="publicationTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Date/time at which the payload publication was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationCreator" type="com:InternationalIdentifier" />
      <xs:element name="_payloadPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lang" type="com:Language" use="required">
      <xs:annotation>
        <xs:documentation>The default language used throughout the payload publication.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modelBaseVersion" type="xs:string" use="required" fixed="3" />
    <xs:attribute name="extensionName" type="xs:string" use="optional" />
    <xs:attribute name="extensionVersion" type="xs:string" use="optional" />
    <xs:attribute name="profileName" type="xs:string" use="optional" default="Level C profile Energy Infrastructure" />
    <xs:attribute name="profileVersion" type="xs:string" use="optional" default="00-02-00" />
  </xs:complexType>
  <xs:simpleType name="Percentage">
    <xs:annotation>
      <xs:documentation>A ratio expressed as an amount per hundred, such that for example the value 100 represents the case where a quantity is equal to the reference value it is compared with, while the value 50 represents a ratio of one half.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:complexType name="Period">
    <xs:annotation>
      <xs:documentation>A continuous time period or a set of discontinuous time periods defined by the intersection of a set of criteria all within an overall delimiting interval.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startOfPeriod" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Start of period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endOfPeriod" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>End of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recurringTimePeriodOfDay" type="com:TimePeriodOfDay" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A recurring period of a day.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recurringDayWeekMonthPeriod" type="com:DayWeekMonth" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A recurring period defined in terms of days of the week, weeks of the month and months of the year. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recurringSpecialDay" type="com:SpecialDay" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A recurring period in terms of special days.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_periodExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PublicEventTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of public events.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="agriculturalShow">
        <xs:annotation>
          <xs:documentation>Agricultural show or event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="airShow">
        <xs:annotation>
          <xs:documentation>Air show or other aeronautical event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="artEvent">
        <xs:annotation>
          <xs:documentation>Art event</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="athleticsMeeting">
        <xs:annotation>
          <xs:documentation>Athletics event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="commercialEvent">
        <xs:annotation>
          <xs:documentation>Commercial event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="culturalEvent">
        <xs:annotation>
          <xs:documentation>Cultural event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ballGame">
        <xs:annotation>
          <xs:documentation>Ball game event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="baseballGame">
        <xs:annotation>
          <xs:documentation>Baseball game event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="basketballGame">
        <xs:annotation>
          <xs:documentation>Basketball game event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="beerFestival">
        <xs:annotation>
          <xs:documentation>Beer festival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bicycleRace">
        <xs:annotation>
          <xs:documentation>Bicycle race that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="boatRace">
        <xs:annotation>
          <xs:documentation>Regatta (boat race event of sailing, powerboat or rowing) that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="boatShow">
        <xs:annotation>
          <xs:documentation>Boat show which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="boxingTournament">
        <xs:annotation>
          <xs:documentation>Boxing event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bullFight">
        <xs:annotation>
          <xs:documentation>Bull fighting event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ceremonialEvent">
        <xs:annotation>
          <xs:documentation>Formal or religious act, rite or ceremony that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="concert">
        <xs:annotation>
          <xs:documentation>Concert event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cricketMatch">
        <xs:annotation>
          <xs:documentation>Cricket match that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exhibition">
        <xs:annotation>
          <xs:documentation>Major display or trade show which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fair">
        <xs:annotation>
          <xs:documentation>Periodic (e.g. annual), often traditional, gathering for entertainment or trade promotion, which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="festival">
        <xs:annotation>
          <xs:documentation>Celebratory event or series of events which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="filmFestival">
        <xs:annotation>
          <xs:documentation>Film festival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="filmTVMaking">
        <xs:annotation>
          <xs:documentation>Film or TV making event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fireworkDisplay">
        <xs:annotation>
          <xs:documentation>Firework display</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flowerEvent">
        <xs:annotation>
          <xs:documentation>Flower event</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="foodFestival">
        <xs:annotation>
          <xs:documentation>Food festival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="footballMatch">
        <xs:annotation>
          <xs:documentation>Football match that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="funfair">
        <xs:annotation>
          <xs:documentation>Periodic (e.g. annual), often traditional, gathering for entertainment, which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gardeningOrFlowerShow">
        <xs:annotation>
          <xs:documentation>Gardening and/or flower show or event which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="golfTournament">
        <xs:annotation>
          <xs:documentation>Golf tournament event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hockeyGame">
        <xs:annotation>
          <xs:documentation>Hockey game event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="horseRaceMeeting">
        <xs:annotation>
          <xs:documentation>Horse race meeting that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="internationalSportsMeeting">
        <xs:annotation>
          <xs:documentation>Large sporting event of an international nature that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="majorEvent">
        <xs:annotation>
          <xs:documentation>Significant organised event either on or near the roadway which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="marathon">
        <xs:annotation>
          <xs:documentation>Marathon, cross-country or road running event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="market">
        <xs:annotation>
          <xs:documentation>Periodic (e.g. weekly) gathering for buying and selling, which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="match">
        <xs:annotation>
          <xs:documentation>Sports match of unspecified type that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="motorShow">
        <xs:annotation>
          <xs:documentation>Motor show which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="motorSportRaceMeeting">
        <xs:annotation>
          <xs:documentation>Motor sport race meeting that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openAirConcert">
        <xs:annotation>
          <xs:documentation>Open air concert</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parade">
        <xs:annotation>
          <xs:documentation>Formal display or organised procession which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="procession">
        <xs:annotation>
          <xs:documentation>An organised procession which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="raceMeeting">
        <xs:annotation>
          <xs:documentation>Race meeting (other than horse or motor sport) that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rugbyMatch">
        <xs:annotation>
          <xs:documentation>Rugby match that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="severalMajorEvents">
        <xs:annotation>
          <xs:documentation>A series of significant organised events either on or near the roadway which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="show">
        <xs:annotation>
          <xs:documentation>Entertainment event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="showJumping">
        <xs:annotation>
          <xs:documentation>Horse showing jumping and tournament event that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="soundAndLightShow">
        <xs:annotation>
          <xs:documentation>Sound and light show.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sportsMeeting">
        <xs:annotation>
          <xs:documentation>Sports event of unspecified type that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stateOccasion">
        <xs:annotation>
          <xs:documentation>Public ceremony or visit of national or international significance which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="streetFestival">
        <xs:annotation>
          <xs:documentation>Street festival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tennisTournament">
        <xs:annotation>
          <xs:documentation>Tennis tournament that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="theatricalEvent">
        <xs:annotation>
          <xs:documentation>Theatrical event</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tournament">
        <xs:annotation>
          <xs:documentation>Sporting event or series of events of unspecified type lasting more than one day which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tradeFair">
        <xs:annotation>
          <xs:documentation>A periodic (e.g. annual), often traditional, gathering for trade promotion, which could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="waterSportsMeeting">
        <xs:annotation>
          <xs:documentation>Water sports meeting that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wineFestival">
        <xs:annotation>
          <xs:documentation>Wine festival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="winterSportsMeeting">
        <xs:annotation>
          <xs:documentation>Winter sports meeting or event (e.g. skiing, ski jumping, skating) that could disrupt traffic.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Service provider does not know at time of message generation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PublicHoliday">
    <xs:annotation>
      <xs:documentation>Specification of a specific public holiday in case specialDayType is set to 'publicHoliday'.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:SpecialDay">
        <xs:sequence>
          <xs:element name="publicHolidayName" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specification of a specific public holiday by its name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_publicHolidayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Reference">
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:simpleType name="Seconds">
    <xs:annotation>
      <xs:documentation>Seconds.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:complexType name="SpecialDay">
    <xs:annotation>
      <xs:documentation>Specification of a special type of day, possibly also a public holiday. Can be country or region specific.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="intersectWithApplicableDays" type="com:Boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>When true, the period is the intersection of applicable days and this special day. When false, the period is the union of applicable days and this special day.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specialDayType" type="com:_SpecialDayTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specification of a special day, for example schoolDay, publicHoliday, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicEvent" type="com:_PublicEventTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of public event on this special day.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="namedArea" type="com:NamedArea" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_specialDayExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SpecialDayTypeEnum">
    <xs:annotation>
      <xs:documentation>Collection of special types of days.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dayBeforePublicHoliday">
        <xs:annotation>
          <xs:documentation>The day preceding a public holiday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="publicHoliday">
        <xs:annotation>
          <xs:documentation>A public holiday in general. You may use the PublicHoliday class to refer on a specific public holiday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dayFollowingPublicHoliday">
        <xs:annotation>
          <xs:documentation>A day following a public holiday.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longWeekendDay">
        <xs:annotation>
          <xs:documentation>A day between a public holiday and the weekend.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inLieuOfPublicHoliday">
        <xs:annotation>
          <xs:documentation>A holiday in lieu of a public holiday that falls on a weekend.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="schoolDay">
        <xs:annotation>
          <xs:documentation>A school day.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="schoolHolidays">
        <xs:annotation>
          <xs:documentation>A day within the school holidays.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="publicEventDay">
        <xs:annotation>
          <xs:documentation>A day of a public event. You may use the publicEvent attribute to specify the corresponding event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Some other special day.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String">
    <xs:annotation>
      <xs:documentation>A character string whose value space is the set of finite-length sequences of characters. Every character has a corresponding Universal Character Set code point (as defined in ISO/IEC 10646), which is an integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time">
    <xs:annotation>
      <xs:documentation>An instant of time that recurs every day. The value space of time is the space of time of day values as defined in § 5.3 of [ISO 8601]. Specifically, it is a set of zero-duration daily time instances.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time" />
  </xs:simpleType>
  <xs:complexType name="TimePeriodOfDay">
    <xs:annotation>
      <xs:documentation>Specification of a continuous period of time within a 24 hour period.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startTimeOfPeriod" type="com:Time" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Start of time period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endTimeOfPeriod" type="com:Time" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>End of time period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_timePeriodOfDayExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Url">
    <xs:annotation>
      <xs:documentation>A Uniform Resource Locator (URL) address comprising a compact string of characters for a resource available on the Internet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="VersionedReference">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="optional" />
  </xs:complexType>
</xs:schema>